deepspeed==0.18.4
stage-lr @ git+https://github.com/nruaif/stage-lr.git
toml
transformers
diffusers>=0.35.1
datasets
pillow
sentencepiece
protobuf
peft
lycoris-lora>=3.0.0
torch-optimi
tensorboard
tqdm
safetensors
bitsandbytes
imageio[ffmpeg]
av
einops
accelerate
loguru
omegaconf
iopath
termcolor
hydra-core
easydict
ftfy
pytorch-optimizer
wandb
optimum-quanto
wheel
ninja